
:root{
    --bodybg: #191819;
    --divbg: #181818;
    --fontcol: #afadac;
    --bordercol: #303030;
    --shadow: #111111;
    --linkcol: #bc9393;
}

@font-face {
    font-family: jetbrains;
    src: url(./JetBrainsMono-Medium.ttf);
}

*{
    font-family: jetbrains;
}

body{
    margin:0;
    background-color: var(--bodybg);
}

.nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--divbg);
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: 0 0 2px 2px var(--shadow);
    border: 1px solid var(--bordercol);
}
.nav li {
    float: left;
  }
  
.nav li a {
    display: block;
    color: var(--fontcol);
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
  }

.pic{
    height:10em;
    padding: 1em;
    border-radius: 2px;
}

.container{
    display: grid;
    grid-template-columns:25vw 75vw;
    margin-top: 3em;
}

.fetch {
    border-radius: 1px;
    box-shadow: 0 0 2px 2px var(--shadow);
    color: var(--fontcol);
    background-color: var(--divbg);
    border: 1px solid var(--bordercol);
    padding: 2em;
    font-size: 1em;
}

.content {
    border-radius: 1px;
    box-shadow: 0 0 2px 2px var(--shadow);
    color: var(--fontcol);
    background-color: var(--divbg);
    border: 1px solid var(--bordercol);
    padding: 2em;
    font-size: 1em;
}

.link {
    text-decoration: none;
    color: var(--linkcol);
}

.ring{
    list-style-type:none;
    padding: 0;
    margin: 0;
    background-color: var(--divbg);
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.ring li a {
    display: block;
    color: var(--linkcol);
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
}

.ring-link{
    display: inline-block;
    padding: 1em;
}
